{% extends "layoutpest.html" %}


{% block body %}
<br /><br />
<h2 style="text-align: center; margin: 0px; color: white">
    <b>Identified Pest: <i>aphids</i></b>
</h2>



        <div class="container">
            <h3 style="padding: 15px; background-color: rgb(0, 0, 0); color: #c79c60; font-weight: bold;"
                class="text-center my-3 content-h3">
                Recommended Products</h3>
        </div>

<div class="container">
            <div class="card-columns">
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%; margin-left:5%;"
                             class="img-fluid" src="static/img/pesticide/aphids/banzo.jpg" alt="banzo">
                     
                    </div>
                </div>
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%;margin-left:5%;"
                             class="img-fluid" src="static/img/pesticide/aphids/derby.jpg" alt="derby">
                       
                    </div>
                </div>
                <div class="card " style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%;margin-left:5%;"
                             class="img-fluid" src="static/img/pesticide/aphids/fulstop-d.jpg" alt="fulstop-d">
                        
                    </div>
                </div>
                <div class="card " style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%;margin-left:5%;"
                             class="img-fluid" src="static/img/pesticide/aphids/intice.jpg" alt="intice">
                        
                    </div>
                </div>
                <div class="card " style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%;margin-left:5%;"
                             class="img-fluid" src="static/img/pesticide/aphids/ultimo-200-sl.jpg" alt="Ultimo 200 SL">
                       
                    </div>
                </div>
              <div class="card " style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%;margin-left:5%;"
                             class="img-fluid" src="static/img/pesticide/aphids/ultimo-super.jpg" alt="Ultimo Super">
                        
                    </div>
                </div>
            </div>


{% endblock %}