{% extends "layoutpest.html" %}

{% block body %}
<br /><br />
<h2 style="text-align: center; margin: 0px; color: white">
    <b>Identified Pest: <i>bollworm</i></b>
</h2>



        <div class="container">
            <h3 style="padding: 15px; background-color: rgb(0, 0, 0); color: #c79c60; font-weight: bold;"
                class="text-center my-3 content-h3">
                Recommended Products</h3>
        </div>

<div class="container">
            <div class="card-columns">
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%; margin-left:5%; height:300px; width:300px;"
                             class="img-fluid" src="static/img/pesticide/bollworm/auzar-25-ec.jpg" alt="auzar">
                      
                    </div>
                </div>
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%;margin-left:5%; height:300px; width:300px;"
                             class="img-fluid" src="static/img/pesticide/bollworm/bioclaim.jpg" alt="bioclaim">
                        
                    </div>
                </div>
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%;margin-left:5%; height:300px; width:300px;"
                             class="img-fluid" src="static/img/pesticide/bollworm/fulstop-d.jpg" alt="fulstop-d">
                       
                    </div>
                </div>
                <div class="card" style="display:inline-block;">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 5%;margin-left:5%; height:300px; width:300px;"
                             class="img-fluid" src="static/img/pesticide/bollworm/kozuka.jpg" alt="kozuka">
                       
                    </div>
                </div>
            </div>
</div>

{% endblock %}